body {
    height: 100vh;
    box-sizing: border-box;
}

body {
    background: whitesmoke;
    font-size: 1.4rem;
    padding: 20px 80px 0 80px;
    font-family: Meiryo;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.site-header {
    background: #fff;
    display: flex;
    padding: 60px 20px;
    justify-content: space-between;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.tmp {
    flex: 1
}

.profile {
    margin: 50px 0px 0px 10px;
    flex: 1
}

.main profile h1 {
    font-family: 'Sofia', cursive;
    margin: 10px 0px 30px;
}

.profile h2 {
    font-family: 'Sofia', cursive;
    font-size: 4rem;
    margin: 0px 0px 30px;
}

.profile img {
    border-radius: 100%;
    width: 65px;
    height: 65px;
    position: relative;
    top: 0px;
    left: 30px;
}

.profile h2,
.profile img {
    float: left;
}

.profile p {
    clear: both;
    line-height: 2rem;
}

.profile a {
    position: relative;
    display: inline-block;
    color: rgba(0, 169, 221, 0.644);
    text-decoration: none;
}

.profile a:hover {
    border-bottom-style: solid;
    /*点線の種類*/
    border-bottom-color: #0bd;
    /*点線の色*/
    border-bottom-width: 2px;
    /*点の大きさ*/
    color: #0bd;
}

.gnav__menu {
    display: flex;
}

.gnav__menu__item {
    margin-left: 30px;
}

.gnav__menu__item a {
    color: #333;
    text-decoration: none;
}

.footer {
    margin: 150px 0 0 10px;
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.follow-me li {
    margin: 0 8px 8px 0;
    padding: 0;
    text-align: center;
    display: flex;
}

.follow-me li a::before {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 16px;
    height: 44px;
    /* Button height */
    line-height: 44px;
    /* Button height */
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    text-align: center;
    width: 44px;
    /* Button width */
}

.follow-me li a:hover::before {
    opacity: 0.7;
}

.follow-me li a[href*="facebook.com"]::before {
    background-color: #3b5998;
    content: "\f09a";
}

.follow-me li a[href*="github.com"]::before {
    background-color: #181717;
    content: "\f09b";
}

.follow-me li a {
    flex: 5;
    text-align: right
}

.follow-me li p {
    padding: 10px 0 0 0;
    flex: 5;
    text-align: left
}